body{
	background-color: HoneyDew;
}

.jumbotron{
	background-color: CornflowerBlue;
	text-align:center;
}

.panel-primary > .panel-heading, footer, #submit{
	background-color: CornflowerBlue;
	color:black;
}

tbody:hover{
	background-color: lightblue;
}